body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.container {
    flex: 1;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
     padding: 20px 0 100px;
    
}

.nav-btn {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    gap: 16px;
    align-items: flex-end;
}

.hero-content {
    max-width: 450px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 16px;
}

.header,
.section {
    max-width: 970px;
    margin: 0 auto;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.section img{
    height: 200px;
    width: 400px;
}

.sign-up {
    background-color: blue;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 32px;
}

.abt {
    display: flex;
    justify-content: center;
    font-size: 24px;

}

.container img {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.div {
    max-width: 150px;
}

button.sign-up {
    background-color: royalblue;
    color: white;
    border: 1px solid royalblue;
}

.hero-setter {
    background-color: #E5E7EB;
    padding: 80px 0;
}

.quote {
    max-width: 800px;
    margin: auto;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

.text{
    max-width: 3000px;
    font-weight: 300;
    
}

.credit {
    display: flex;
    justify-content: flex-end; 
    font-size: 24px; 
}

.cta-container {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    gap: 58px;
    max-width: 770px;
    margin: 70px auto;
    padding: 40px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.main {
    font-size: 18px;
    font-weight: 900;
}

.second {
    font-size: 14px;
}

button.btn-inverted {
    background-color: #3882F6;
    color:white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 6px 24px;
    font-weight: 700;
}



.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px;
}
